In [1]:
import pandas as pd

In [4]:
log = pd.read_csv('D:\\visit_log.csv', sep=';')

In [34]:
def direct(row):
    if row == 'direct':
        return row

In [35]:
log.source_type = log.traffic_source.apply(direct)
log.loc[log.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic' 
log.loc[(log.traffic_source.isin(['paid', 'email'])) & (log.traffic_source == 'Rusia'), 'source_type'] = 'ad' 
log.loc[log.traffic_source.isin(['paid', 'email']), 'source_type'] = 'other' 
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [46]:
urls = pd.read_csv('D:\\URLs.txt')

In [53]:
urls[urls.url.str.contains('\/\d{8}\-', regex = True)].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [55]:
from pymystem3 import Mystem

In [56]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [81]:
def lemmas(row):
    m = Mystem()
    lemmas = m.lemmatize(row)
    lemma = ' '.join(lemmas)
    return lemma

In [82]:
data['lemmas'] = data['keyword'].apply(lemmas)

In [83]:
data.head()

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n