In [ ]:
text = input()
if len(text)%2 == 0:
    print(text[int(len(text)/2-1):int(len(text)/2+1)])
else:
    print(text[int(len(text)//2)])

In [12]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
sorted_boys = sorted(boys)
sorted_girls = sorted(girls)
by_name = zip(sorted_boys, sorted_girls)
# print(list(by_name))
if len(boys) != len(girls):
    print('разное количество людей')
else: 
    for f in list(by_name):
        print(f'{f[0]} {f[1]}')

Alex Emma
Arthur Kate
John Kira
Peter Liza
Richard Trisha

In [28]:

countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]
for country in countries_temperature:
    print(f'{country[0]}')
    for temperature in country[1]:
        print((temperature-32)*(5/9))

Thailand
24.000000000000004
25.0
26.0
23.000000000000004
20.0
24.000000000000004
25.0
Germany
14.000000000000002
13.0
15.0
15.0
12.000000000000002
13.0
14.000000000000002
Russia
2.000000000000001
2.9999999999999996
4.000000000000002
5.0
5.999999999999999
4.000000000000002
2.000000000000001
Poland
10.0
10.0
12.000000000000002
14.000000000000002
13.0
13.0
10.999999999999998

In [133]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
d = []
usern = 0
g = 1
summ = 0
for d in range(10):
        d = str(d)
for i, a in enumerate(stream):
    stream[i] = a.split(',')
    stream[i][2] = int(stream[i][2]) 
    summ = summ + stream[i][2]
#     print(summ)
    b = stream[i][1]
    if 'user'+str(g) in b:
        usern += 1
        g += 1
#     print(usern)
    print(summ/usern)

3.0
7.0
8.0
21.0
14.0
10.666666666666666
14.0
15.25
16.25
18.25
20.5
23.25

In [137]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]
company_name = input()
date = input()
for i in stats:
    if company_name in i[1]:
        if date in i[0]:
            print(i[2])

yandex
2018-01-02
249

In [152]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]
summ = 0
lenm = len(data)
for i in range(lenm):
    summ += data[i][i] 
    print(summ)

13
45
68
103