In [10]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
import matplotlib.pyplot as plt
data = pd.read_csv('D:\\Netology\DS\\adult.csv' )

In [13]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [14]:
selectedColums = data[ ['educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']]
X = selectedColums

In [15]:
le.fit( data['income'] )
le.classes_
y = pd.Series(data = le.transform(data['income']))

In [12]:
model = LogisticRegression()

In [ ]:
model.fit( X, y )

In [2]:
data = data.head(500)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              500 non-null    int64
 1   workclass        500 non-null    object
 2   fnlwgt           500 non-null    int64
 3   education        500 non-null    object
 4   educational-num  500 non-null    int64
 5   marital-status   500 non-null    object
 6   occupation       500 non-null    object
 7   relationship     500 non-null    object
 8   race             500 non-null    object
 9   gender           500 non-null    object
 10  capital-gain     500 non-null    int64
 11  capital-loss     500 non-null    int64
 12  hours-per-week   500 non-null    int64
 13  native-country   500 non-null    object
 14  income           500 non-null    object
dtypes: int64(6), object(9)
memory usage: 58.7+ KB

In [4]:
selectedColums = data[ ['educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']]
X = selectedColums

In [5]:
le.fit( data['income'] )
le.classes_
y = pd.Series(data = le.transform(data['income']))

In [6]:
from sklearn import svm
from sklearn.metrics import recall_score

In [7]:
C = 1.0 
model1 = svm.LinearSVC(C=C)

In [8]:
model1.fit(X, y)

C:\Users\User\anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [9]:
model1.score(X, y)

0.77