In [1]:
import pandas as pd

In [32]:
df = pd.read_csv('D:\\ratings.csv')

In [33]:
def rating(row):
    if 2 < row < 4.5 :
        return('средний рейтинг')
    elif row >= 4.5:
        return('высокий рейтинг')
    elif row <= 2:
        return('низкий рейтинг')

In [34]:
df['class'] = df['rating'].apply(rating)
df.head()

   userId  movieId  rating   timestamp            class
0       1      296     5.0  1147880044  высокий рейтинг
1       1      306     3.5  1147868817  средний рейтинг
2       1      307     5.0  1147868828  высокий рейтинг
3       1      665     5.0  1147878820  высокий рейтинг
4       1      899     3.5  1147868510  средний рейтинг

In [36]:
df2 = pd.read_csv('D:\\keywords.csv')

In [54]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [63]:
df2['region'] = df2['keyword'].apply(region, city = input('введите город'))

введите городмосква

In [56]:
def region (row, city):
    if city in row:
        for key, values in geo_data.items():
            if city in values:
                return(key)
    else:
        return('undefined')

In [75]:
city = input('введите город ')
df2['region'] = df2['keyword'].apply(region, city = city)

filtered = df2[ (df2['keyword']== city) ]

filtered.head()

введите город псков

      keyword  shows        region
11222   псков  24885  Северо-Запад